*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    margin: 44px 0 100px 76px;
}
.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9d;
    cursor: pointer;
    margin-right: 23px;
}
.img-logo{
    width: 568px;
    height: 400px;
    margin-left: 125px;
    display: inline-block;
}
#btnav{
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    cursor: pointer;
}
#btcontainer{
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
}
section{
    display: inline-block;
    margin-left: 86px;
}
h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}
h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}
p#section{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 30px;
    margin-bottom: 60px;
}
footer{
    margin-top: 100px;
    margin-left: 76px;
    margin-bottom: 44px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #989d9d;
    text-align: center;
}
@media screen and (max-width: 900px) {
    header {
        display: none;
    }
    .link-header{
        cursor: pointer;
    }
    .img-logo{
        position: static;
        max-width: 568px;
        display: block;
        width: 100%;
        height: auto;
        margin: 80px auto 0 auto;
    }
    section{
        display: block;
        margin: 0 auto;
    }
    h1{
        font-size: 50px;
        display: block;
        margin: 20px auto 0px auto;
        text-align: center;
        text-transform: uppercase;
        font-family: Montserrat;
        line-height: 100%;
        letter-spacing: 0%;

    }
    h2{
        font-size: 30px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    p#section{
        display: none;
    }
    #btcontainer{
        display: block;
        margin: 0 auto;
    }
    footer{
        font-size: 16px;
        line-height: 20px;
        margin: 50px auto 20px auto;
    }
}